.form-group {
	position: relative;
}
.field-message {
	position: absolute;
	bottom: 100%;
	margin-bottom: -10px;
	left: 50%;
	padding: 10px;
	font-weight: 600;
	opacity: 0;
	-webkit-transform: translate3d(0, -15px, 0);
	-moz-transform: translate3d(0, -15px, 0);
	-ms-transform: translate3d(0, -15px, 0);
	-o-transform: translate3d(0, -15px, 0);
	transform: translate3d(0, -15px, 0);

	-webkit-transition: -webkit-transform .3s, opacity .3s;
	-moz-transition: -moz-transform .3s, opacity .3s;
	-ms-transition: -ms-transform .3s, opacity .3s;
	-o-transition: -o-transform .3s, opacity .3s;
	transition: transform .3s, opacity .3s;
	&.visible {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		-o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	p {
		margin: 0;
		position: relative;
		white-space: nowrap;
		&:after {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(0,0,0,0);
			border-top-color: red;
			border-width: 10px;
			margin-left: -10px;
			margin-top: 7px;
		}
	}
	&.error {
		background: red;
		color: #FFF;
	}
}